# IDE
.vscode/

# rust
target/

# docs (old asciidoc)
docs/build/

# other
.DS_Store

# python
.venv/
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
wheels/
.pytest_cache/

# monadb
*.monadb
.monadb_history

# zola
site/public/

# node
site/node_modules/

# rust
target/

# agents et al
.agents/
.claude/

# superpowers is noisy, likely to be removed..
docs/superpowers/

# tasks (monadb beads alternative)
.tasks/
